<%_ if (library.react) { -%>
import React, { useState } from 'react'
import ReactDOM from 'react-dom'
<%_ } -%>
<%_ if (library.vue) { -%>
import <%- library.vue === 2 ? 'Vue' : '{ createApp }' %> from 'vue'
import Config from './Config.vue'
<%_ } else { -%>
import '../css/config.css'
<%_ } -%>
<%_ if (library.react) { %>
const Config = function (props<% if (typescript) { %>: ConfigProps<% } %>) {
  const { message } = props
  const [msg, setMessage] = useState(message)

  const handleSubmit = (e<% if (typescript) { %>: React.FormEvent<% } %>) => {
    e.preventDefault()
    kintone.plugin.app.setConfig({ message: msg }, () => {
      window.location.href = `../../flow?app=${kintone.app.getId()}`
    })
  }

  const handleMessage = (e<% if (typescript) { %>: React.ChangeEvent<HTMLInputElement><% } %>) => {
    setMessage(e.target.value)
  }

  const handleCancel = () => {
    window.location.href = `../../${kintone.app.getId()}/plugin/`
  }

  return (
    <form className="js-submit-settings" onSubmit={handleSubmit}>
      <p className="kintoneplugin-row">
        <label htmlFor="message">
          Message:
          <input
            type="text"
            className="js-text-message kintoneplugin-input-text"
            value={msg}
            onChange={handleMessage}
          />
        </label>
      </p>
      <p className="kintoneplugin-row">
        <button type="button" className="js-cancel-button kintoneplugin-button-dialog-cancel" onClick={handleCancel}>
          Cancel
        </button>
        <button className="kintoneplugin-button-dialog-ok" type="submit">
          Save
        </button>
      </p>
    </form>
  )
}
<%_ } %>
const config = kintone.plugin.app.getConfig(kintone.$PLUGIN_ID)
<%_ if (library.react) { -%>
ReactDOM.render(<Config message={config.message} />, document.getElementById('main'))
<%_ } else if (library.vue) { -%>
const main = document.getElementById('main')<% if (typescript) { %> as HTMLDivElement<% } %>
  <%_ if (library.vue === 2) { -%>
new Vue({
  render: (h) => h(Config, { props: { msg: config.message } }),
}).$mount(main)
  <%_ } else if (library.vue === 3) { -%>
const app = createApp(Config, { msg: config.message })
app.mount(main)
  <%_ } -%>
<%_ } else { -%>
const form = document.querySelector('.js-submit-settings')<% if (typescript) { %> as HTMLFormElement<% } %>
const cancelButton = document.querySelector('.js-cancel-button')<% if (typescript) { %> as HTMLButtonElement<% } %>
const message = document.querySelector('.js-text-message')<% if (typescript) { %> as HTMLInputElement<% } %>

if (config.message) {
  message.value = config.message
}
form.addEventListener('submit', (e) => {
  e.preventDefault()
  kintone.plugin.app.setConfig({ message: message.value }, () => {
    window.location.href = `../../flow?app=${kintone.app.getId()}`
  })
})
cancelButton.addEventListener('click', () => {
  window.location.href = `../../${kintone.app.getId()}/plugin/`
})
<%_ } -%>
